


/* html {
  
  background-color:  #CBF3F0;
  font-size: 62.5%; }
  */
      

 body{
  font-family: sans-serif;
  font-weight: 400px;
   font-size: 16px;
  /* line-height: 1.7; */
  /* color:#FFBF69;
  padding: 0 5em; */ */
}
/* h1, h2, h3, h4{
  letter-spacing: 3px;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
}

section, footer{
  padding: 4% 0;
}
a{
    text-decoration: none;
    letter-spacing: 3px;
} */
/* .container{
  background-color:#2EC4B6;
 
} */
nav{
  /* background-color:#FF9F1C;
    display:flex;
    justify-content:space-evenly;
    color: #ffff;
   
   } */
  
  /* img {
    height: 300px;    
  } */

 
 /* .Header-Landing{
 text-align:center;

 } */
 
 /* .Images-landing {
    border: solid 2px red;
    display:flex;
    justify-content:space-evenly;
    margin-top:25%; 
    
    } */

 /* .header-login{
    color: blue;
    display: flex;
    align-content: center;
  } */
/* .Login-textbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  } */
 

.heading-landing-main {
    display: flex;
    font-size: 25px;
    font-weight: 200px;
    letter-spacing: 10px;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 50px;
    
  }
  
.btn:link,
.btn:visited { 
 text-transform: uppercase;
 text-decoration: none;
padding: 15px 40px;
display:inline-flex;
border-radius: 100px;
transition: all .2s;
margin-top:10%;
padding-top: 1%;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0..2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0..2);

}
.btn-white {
  background-color: black;
  color:white;

}
/* Footer Stuff */
footer{
  border: solid 2px red;
  display:flex;
  flex-direction: row;
  background-color: #FF9F1C;
  color: #ffff;
  justify-content:space-around;
  margin-top:10%;
  padding-top: 1%;

}

.download-icon {
   max-width: 50%;
  max-height: 50%;
  flex-shrink: initial;

 
}
.copyright{
  display: flex;
  align-content: center;
}






/* Thanks so much!  Yeah I came across the property "text-shadow" helps the text stand out against the image. */